<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.vit.vitregister">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".bluetooth.BluetoothActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.DeviceDefault.Dialog">
        </activity>
        <activity
            android:name=".device.DeviceActivity"
            android:label="@string/title_activity_device"
            android:parentActivityName=".register.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".register.RegisterActivity" />
        </activity>
    </application>

</manifest>
